.header-container {
  background-color: var(--dark-shade);
}

.header-content {
  width: 100%;
}

.header-safe-padding {
  padding-top: env(safe-area-inset-top);
}

@media (min-width: 540px) {
  .header-content {
    max-width: 540px;
    margin: 0 auto;
  }
}

/* This min-width needs to be whatever the sum of our x-margins are. */
@media (min-width: 800px) {
  .header-content {
    max-width: unset;
    width: calc(100% - 250px);
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .header-content {
    margin: 0 auto;
    width: 100%;
  }
}
