/* StyledFooter */
.StyledFooter {
  display: none;
  margin-top: auto;
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  padding-top: 16px;
  text-align: center;
}

.isSafari {
  margin-bottom: 160px;
}

@media (min-width: 640px) {
  .StyledFooter {
    display: block;
    padding-top: 16px;
  }
}
