.hide-scrollbars {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.hide-scrollbars * {
  -ms-overflow-style: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.fixed-menu-wrapper {
  /* padding: 32px 16px 16px calc(env(safe-area-inset-left) + 16px); */
  background-color: var(--dark-shade);
  padding-bottom: 200px;
  bottom: 290px;
  color: #f2f2f2;
  display: none;
  left: 0;
  padding: 8px;
  position: fixed;
  top: 52px;
  width: var(--sidebar-width);
}

@media (min-width: 1440px) {
  .fixed-menu-wrapper {
    display: block;
  }
}

.fixed-menu-ad-block {
  position: fixed;
  bottom: 8px;
  left: 0;
  width: var(--sidebar-width);
}

.fixed-menu-ad-width {
  width: 200px;
  margin: 0 auto;
}
