.StyledDropdownItem {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  padding: 4px 8px;
}

.StyledDropdownItem:active {
  transform: scale(0.98);
}

.StyledDropdownItem:not(.active):hover {
  background-color: #737373;
}

.StyledDropdownItem.active {
  background-color: #7b3c76;
}
