.CreateImagePanel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PendingImagesPanel {
  display: none;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
}

@media (min-width: 1142px) {
  .CreateImagePanel {
    max-width: 640px;
    width: 50%;
  }

  .PendingImagesPanel {
    display: flex;
    width: 100%;
  }
}
